.grid-complete-row {
    pointer-events: none;
}

.grid-entry {
    pointer-events: auto;
}

.grid-hour {
    text-align: center;
    position: relative;
    top: -50%;
    background: inherit;
}

.grid-complete-row {
    grid-column: 2 / -1 !important;
}
